<div class="row">
   <div class="col-md-12 col-xs-12" id="page_content">
      <div class="blog-content">
         <div class="row">
            <div class="col-md-12 col-xs-12 header-box ">
               <h1>
                  &lt; About Us &gt;<br>
               </h1>
               <p></p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6">
               <div>
                  <h3>About Us<br></h3>
                  <p></p>
               </div>
               <div>
                  <p class="font-22 p-purple">
                     Story World is startup company from India which provides online community for all those who are always trying for something new and having doubt with any field or regarding any information.So they can ask here and share among friends using facebook,twitter,Google plus and whats app.So,they can get solutions.
                  </p>
                  <p></p>
               </div>
               <p></p>
            </div>
            <div class="col-md-6">
               <div>
                  <div class="">
                     <h3>Our Mission<br></h3>
                     <p></p>
                  </div>
                  <div>
                     <p class="p-purple">
                        Story World has main goal that to reach maximum people and give them one platform for every doubts no need to search for every where .Here people will get unique solutions so the people can do research,and specially for beginners it will have extreme thing to try.
                     </p>
                     <p></p>
                  </div>
                  <p></p>
               </div>
               <div>
                  <div class="">
                     <h3>
                        Why Story World ?<br>
                     </h3>
                     <p></p>
                  </div>
                  <div>
                     <p class="p-purple">
                        Story World is only one of its kind that will provide all the things point to point no more extra description ,no more read.if you have question it will have exact answers here.Do you have question ? ask us.Do you have answer ? Share with us.
                     </p>
                     <p></p>
                  </div>
                  <p></p>
               </div>
               <p></p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <h1>
                  Master Guru<br>
               </h1>
               <p></p>
            </div>
            <div class="col-md-6">
               <img src="http://guruquest.net/bhaskar-bhatt.jpg" style="width:100%;" alt="bhaskar-bhatt"><br>
               <h3>
                  Bhaskar Bhatt<br>
               </h3>
               <h5>
                  CEO / Project Leader / Lead Developer<br>
               </h5>
               <div>
                  <span style="margin-right: 5%;font-size: 30px;">
                  		<a href="http://fb.com/bhatt.bhaskar.9" target="_blank" rel="nofollow">
                  			<img src="/assets/images/facebook.png" class="img-link" alt="" />
                  		</a>
                  </span>
                  <span style="margin-right: 5%;font-size: 30px;">
                  		<a href="http://twitter.com/iambbhaskar" target="_blank" rel="nofollow">
                  			<img src="/assets/images/twitter.png" class="img-link" alt="" />
                  		</a>
                  </span>
                  <span style="margin-right: 5%;font-size:30px;">
                  		<a href="https://in.linkedin.com/in/bhattbhaskar88&#10;" target="_blank" rel="nofollow">
                  			<img src="/assets/images/linkedin.png" class="img-link" alt="" />
                  		</a>
                  </span>
                  <span style="margin-right: 5%;font-size:30px;">
                  		<a href="http://stackoverflow.com/users/1506788/bhaskar-bhatt" target="_blank" rel="nofollow">
                  			<img src="/assets/images/stackoverflow.png" class="img-link" alt="" />
                  		</a>
                  </span>
                  <span style="margin-right: 5%;font-size:30px;">
                  		<a href="https://angel.co/bhatt-bhaskar" target="_blank" rel="nofollow">
                  			<img src="/assets/images/angel.png" class="img-link" alt="" />
                  		</a>
                  </span>
               </div>
               <p></p>
            </div>
            <div class="col-md-6">
               <p class="p-purple"><br>
                  I am full stack developer with 5 years of work experience. Over last 3 years I have been working as a dedicated developer.
               </p>
               <p class="p-purple"><br>
                  I am greatly focussed working with PHP, MYSQL and specially in mvc frameworks and have broad experience with variety of frameowrks yii,php road. I am very efficient and accurate programmer.
               </p>
               <p class="p-purple"><br>
                  I love technology and its my primary interest so I work with all my rhythm and never leave any minus on that. With me you will surely get high quality work in very reasonable price. My core competency lies in complete end-end management of a new website development project, and I am seeking opportunities to build websites from the ground up for you or your business. Please hire if you need work with top quality. I am having expertise in extreme responsive designs and responsive email templates.
               </p>
               <p></p>
            </div>
         </div>
      </div>
   </div>
</div>